<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hry.project.comic.mapper.ComicRelationAuthorMapper">
  <resultMap id="BaseResultMap" type="com.hry.project.autodownloadpage.comic.model.ComicRelationAuthor">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="comics_id_" jdbcType="INTEGER" property="comicsId" />
    <result column="author_id_" jdbcType="INTEGER" property="authorId" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id_, comics_id_, author_id_, create_time_, update_time_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comic_relation_author
    where id_ = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comic_relation_author
    where id_ = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hry.project.autodownloadpage.comic.model.ComicRelationAuthor">
    insert into comic_relation_author (id_, comics_id_, author_id_, 
      create_time_, update_time_)
    values (#{id,jdbcType=INTEGER}, #{comicsId,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hry.project.autodownloadpage.comic.model.ComicRelationAuthor">
    insert into comic_relation_author
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id_,
      </if>
      <if test="comicsId != null">
        comics_id_,
      </if>
      <if test="authorId != null">
        author_id_,
      </if>
      <if test="createTime != null">
        create_time_,
      </if>
      <if test="updateTime != null">
        update_time_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comicsId != null">
        #{comicsId,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hry.project.autodownloadpage.comic.model.ComicRelationAuthor">
    update comic_relation_author
    <set>
      <if test="comicsId != null">
        comics_id_ = #{comicsId,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id_ = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time_ = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_ = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hry.project.autodownloadpage.comic.model.ComicRelationAuthor">
    update comic_relation_author
    set comics_id_ = #{comicsId,jdbcType=INTEGER},
      author_id_ = #{authorId,jdbcType=INTEGER},
      create_time_ = #{createTime,jdbcType=TIMESTAMP},
      update_time_ = #{updateTime,jdbcType=TIMESTAMP}
    where id_ = #{id,jdbcType=INTEGER}
  </update>
</mapper>