<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hry.project.comic.mapper.ComicLinksMapper">
  <resultMap id="BaseResultMap" type="com.hry.project.autodownloadpage.comic.model.ComicLinks">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="url_" jdbcType="VARCHAR" property="url" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="download_status_" jdbcType="INTEGER" property="downloadStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id_, url_, create_time_, update_time_, download_status_
  </sql>
  
  <select id="selectAllWithUnDeal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comic_links a 
    where 
    	a.download_status_ = 0
    order by id_ asc
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comic_links
    where id_ = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comic_links
    where id_ = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hry.project.autodownloadpage.comic.model.ComicLinks">
    insert into comic_links (id_, url_, create_time_, 
      update_time_, download_status_)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{downloadStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hry.project.autodownloadpage.comic.model.ComicLinks">
    insert into comic_links
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id_,
      </if>
      <if test="url != null">
        url_,
      </if>
      <if test="createTime != null">
        create_time_,
      </if>
      <if test="updateTime != null">
        update_time_,
      </if>
      <if test="downloadStatus != null">
        download_status_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downloadStatus != null">
        #{downloadStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hry.project.autodownloadpage.comic.model.ComicLinks">
    update comic_links
    <set>
      <if test="url != null">
        url_ = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time_ = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downloadStatus != null">
        download_status_ = #{downloadStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id_ = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hry.project.autodownloadpage.comic.model.ComicLinks">
    update comic_links
    set url_ = #{url,jdbcType=VARCHAR},
      create_time_ = #{createTime,jdbcType=TIMESTAMP},
      update_time_ = #{updateTime,jdbcType=TIMESTAMP},
      download_status_ = #{downloadStatus,jdbcType=INTEGER}
    where id_ = #{id,jdbcType=INTEGER}
  </update>
</mapper>